{% extends "base.html" %}

{% block body %}

    <h1> Upload member image </h1>
     <form action="{{url_for('members.upload_image')}}" id="imageFile" method="post" enctype="multipart/form-data">
        <p class="white_text">Select image of person whom you want to add to your members group:</p>
        <div class="white_text">
            <input type="file" class="white_text" name="file" id="customFile" />
        </div>

        <div class="white_text">
            <input type="submit" class="button" id="btn-upload" value="Upload" />
        </div>
    </form>
{% endblock %}