[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-apscheduler = "*"
flask-bcrypt = "*"
psutil = "*"
gevent = "*"
pipenv = "*"
requests = "*"
facenet-pytorch = "*"
pyfcm = "*"

[dev-packages]

[requires]
python_version = "*"
