{% extends "table_base.html" %}

            {% block title %}
                Notifications
            {% endblock %}
            {%  block table_heading %}
                        <th onclick="sortTable(0)">TIMESTAMP</th>
                        <th onclick="sortTable(1)">RECOGNIZED MEMBERS</th>
            {% endblock %}

            {% block url %}
                '{{ url_for('notifications.get_all') }}'
            {% endblock %}
            {% block for_each %}
                data.forEach(item => {
                        const row = tableBody.insertRow();
                        const cell1 = row.insertCell(0);
                        const cell2 = row.insertCell(1);

                        cell1.textContent = item.timestamp;
                        cell2.textContent = item.member_name;
                });
            {% endblock %}



{% block body %}
    {{ super() }}

     <script>
      function getNotification() {
        fetch("{{url_for('notifications.get')}}")
          .then(response => response.json())
          .then(data => {
              if (data["message"] !== "No available notifications!"){
                alert(data["message"] )
                fetchData();
              }
          })
          .catch(error => {
            console.error(error);
          });
      }

      setInterval(function() {
        getNotification();
      }, 500);

    </script>
{% endblock %}
