<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title> Face recognition service </title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script src="{{url_for('static', filename='main.js')}}"></script>
    {% endblock %}
</head>
<body>

{% block navbar %}

    <div class="navbar">
        <a href="{{url_for('auth.login')}}"> LOGIN </a>
        <a href="{{url_for('members.upload')}}"> ADD MEMBER </a>
        <a href="{{url_for('notifications.table')}}"> NOTIFICATIONS </a>

    {% if current_user.id == "admin" %}
        <a href="{{url_for('details.info')}}"> DETAILS </a>
        <a href="{{url_for('details.methods')}}"> METHODS </a>
        <a href="{{url_for('config.settings')}}"> SETTINGS </a>

        <div class="dropdown">
            <button class="drop_btn">TABLES</button>
            <div class="dropdown-content">
                <a href="{{url_for('user.users_table')}}">USERS</a>
                <a href="{{url_for('members.table')}}">MEMBERS</a>
            </div>
        </div>
    {% else %}
    {% endif %}

    </div>

{% endblock %}

{% block body %}

{%  endblock %}
</body>
</html>
